html {
    height: 100%;
    background: -webkit-linear-gradient(to left top, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left top, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(#8CA6DB, #B993D6);
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-align: center;
}

.container { 
	display: grid;
}

.left-half {
  grid-column: 1;
}

.right-half {
  grid-column: 2; 
}

.content {
    max-width: 500px;
    margin: auto;
  }

#buttons li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: #f6d8d8;
    margin-right: 30px;
    width: 200px;
    line-height: 60px;
    text-decoration: none;
    border-radius: 10px;
}

#buttons li a {
    text-decoration: none;
    color: #530a97;
    display: block;
    border-radius: 10px;
  }
  
#buttons li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #cfabff;
  }

#buttons li a:focus {
    background-color: rgb(156, 84, 233);
    color: white;
}

.title {
  font-family: 'Unbounded', cursive;
    text-align: center;
    display: block;
    font-size: 92px;
    text-shadow: 6px 6px #560990;
    color: azure;
}

.photo>img {
  object-fit: cover;
  width: 100%
}

.styleInput {
  color: rgb(36, 35, 42);
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 5px 6px 4px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(255, 255, 255);
  transition: all 0.5s ease 0s;
  display: inline-block;
  margin-right:15px;
}

/*.styleInput a:focus {
  border: 2px solid rgb(124, 138, 255);
}*/


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.sendButton {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  transition: all 0.5s ease 0s; 
}
.sendButton:hover{
  box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
  transition: all 0.1s ease 0s;
}

.form-control {
  display: inline-block;
}

.bienvenida {
  color: #fff;
  text-shadow: #530a97  0px 5px 8px;
  transform: scale3d();
  font-size: 45px; 
}

.selecciona {
  color: #000000;
  font-size: 20px;
}